<div class="search">
    <div class="result " data-show="0" style="display: none;">
        <div class="pannel">
            <span class="esc">&times;</span>
            <span class="">PRESS =ESC= to close.</span>
        </div>
        <a class="tpl" target="_self">
            <code class="date">
                <!-- date -->
            </code>
            <code class="title">
                <!-- title -->
            </code>
        </a>
    </div>
    <input name="search" type="text" placeholder="search here...">
</div>
