<div class="sidebar">
    <div class="logo">
        <img src="{{ site.url }}/assets/imgs/logo.jpg">
    </div>
	<div class="nav">
        <a target="_self" href="{{ site.url }}/about/" name="about">About</a>
        <a target="_self" href="{{ site.url }}" name="home">Home</a>
        <a target="_self" href="{{ site.url }}/archive/" name="archive">Archive</a>
        <a target="_self" href="{{ site.url }}/feed.xml" name="feed">Feed</a>
		{% comment %}Add other nav link here.{% endcomment %}
	</div>
    <div class="footer placeholder"></div>
</div>
